/**
* Custom Structure
*/
.custom-dropdown {
    min-width: 300px;
    padding: 15px;
}

.custom-dropdown li {
    list-style: none;
}

.custom-dropdown li a, .custom-dropdown li a:hover  {
    background: none;
    padding: 7px 0px;
    color: #777;
}

.navbar{
    margin-bottom: 0px;
}

#loginPageContent{
    margin-top: 10%;
}


/**
* Custom Formatting
*/

.navbar-default{
    background-color: #0D59A7;
}

.navbar-nav li.dropdown{
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a{
    color: #ffffff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #ffffff;
    color: #0D59A7;
}

.navbar-default .navbar-nav>li>a:hover{
    color: white; !important;
}

a{
    color: #0D59A7; !important;
}

.panel-primary>.panel-heading{
    background-color: #0D59A7;
}

.panel{
    border-radius: 0px;
}

.panel-heading{
    border-radius: 0px;
}

.navbar{
    border-radius: 0px;
}